name: Deploy mdbooks

on:
  push:
    branches: [ main ]  # 或你用的主分支名

# 核心：赋予 token 写入权限（解决 403 错误）
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # 获取完整提交历史


      - name: Install mdbook
        run: |
          curl -sSL https://github.com/rust-lang/mdBook/releases/download/v0.4.36/mdbook-v0.4.36-x86_64-unknown-linux-gnu.tar.gz | tar -xz
          echo "$PWD" >> $GITHUB_PATH

      - name: Build polos mdbook
        run: cd polos && mdbook build

      - name: 复制文件index.html到docs目录
        run: |
          cp index.html docs/index.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          # 如果你想用自定义域名，取消下一行注释
          # cname: docs.xpulabs.com